div.text-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows : repeat(4, auto); }

/* here I tell the h2 for .image-left to start a col2 and use 2 columns */
/* each column is 1fr, so 2 columns is 2/3 of the available space */

div.text-block.image-left h2 {
   grid-column: 2 / span 2;
}

/* I don't need to position each "p" on rows, just tell them which
   column to go to */
/* no need to put them in a div */

div.text-block.image-right p {
   grid-column: 1 / span 2; }

/* I use this code to make your image resize automatically, 
   but there is plenty of choice to make it look the way you want. 
   You can also check out the "object-fit" property */

div.text-block.image-left img {
  display: block;
  height: auto;
  max-height: 100%;
  max-width: 100%; }

/* for the @media rules I needed a .mobile class to have the same specificity 
   as the first rule (edit : though removing ".text-block" for "p" and "h2"
    declarations would have the same effect) */
/* also needed to re-use "justify-self" on images 
   as it has priority over justify-items */

@media screen and (max-width: 900px) {

/* all blocks */

div.text-block.mobile h2 {
  grid-column: 1 / span 3;
}